.color-picker {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 23%);
}

.color-picker-container {
  position: relative;
}

.color-picker-popover {
  position: absolute;
  z-index: 2000;
  bottom: -10px;
  left: -10px;
}

.color-picker-cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.github-picker {
  background: rgb(50, 50, 50) !important;
  width: 194px !important;
  border-radius: 18.5px !important;
  span {
    margin: 3px;
    div {
      width: 20px !important;
      height: 20px !important;
      border-radius: 10px !important;
    }
  }
}
