.visible-container {
  display: flex;
  align-items: center;
  .visible,
  label {
    cursor: pointer;
  }

  label {
    padding-right: 8px;
    flex-grow: 1;
    padding: 2px 0;
    font-size: 14px;
  }
}
