@import "tailwindcss";
@import "./App.scss";
@import "./components/Visibility.scss";
@import "./components/plugins/ImageView/index.scss";
@import "./components/plugins/ImageView/colorPicker.scss";
@import 'rsuite/dist/rsuite.min.css';

body {
  user-select: none;
  overflow: hidden;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
